{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ lorem }}! ✅</h1>

    <form action="" method="post">
        <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Type your name">
                <div class="input-group-append">
                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                </div>
        </div>
    </form>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/Symfony/src/Controller/LearningController.php'|file_link(0) }}">src/Controller/LearningController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/Symfony/templates/learning/index.html.twig'|file_link(0) }}">templates/learning/index.html.twig</a></code></li>
    </ul>
</div>

{% endblock %}
